new review

<%= form_for(:review, url: review_index_path, method: :post) do |f| %>

  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_field :body, autocomplete: "new-review" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit review" %>
  </div>
<% end %>